<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous" lazyload loading="lazy">
    <link rel="manifest" href="manifest.json">
    <title>Yoga Food</title>
</head>

<body>
    <a href="#mainContent" class="skip-to-content" id="skipContainer">Skip to Content</a>
    <nav>
        <div class="navbar">
            <div class="nav-header" tabindex="0">
                <p>Yoga Food</p>
                <button id="buttonMenu">Menu</button>
            </div>
            <div class="nav-list" id="navList">
                <div class="nav-item"><a href="#/home">Home</a></div>
                <div class="nav-item"><a href="#/favorite">Favorite</a></div>
                <div class="nav-item"><a href="https://github.com/YOGAAPSY">About Us</a></div>
            </div>
        </div>
    </nav>
    <header>
        <div class="hero-image" id="hero">
            <div class="hero-overlay">
                <div class="hero-content" tabindex="0">
                    <h1>Selamat Datang di Yoga Food</h1>
                    <p>Restaurant terkenal di Indonesia yang telah memiliki 5+ cabang di kota-kota besar</p>
                </div>
            </div>
        </div>
    </header>
    <main id="mainContent" tabindex="0">

    </main>
    <footer>
        <div class="footer" tabindex="0">
            <p>Copyright © 2021 - Yoga Food</p>
        </div>
    </footer>
</body>

</html>