<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yoga Food</title>
</head>

<body>
    <a href="#restaurant" class="skip-to-content" id="skipContainer">Skip to Content</a>
    <nav>
        <div class="navbar">
            <div class="nav-header" tabindex="0">
                <p>Yoga Food</p>
                <button id="buttonMenu">Menu</button>
            </div>
            <div class="nav-list" id="navList">
                <div class="nav-item"><a href="index.html">Home</a></div>
                <div class="nav-item"><a href="#">Favorite</a></div>
                <div class="nav-item"><a href="https://github.com/YOGAAPSY">About Us</a></div>
            </div>
        </div>
    </nav>
    <header>
        <div class="hero-image">
            <div class="hero-overlay">
                <div class="hero-content" tabindex="0">
                    <h1>Selamat Datang di Yoga Food</h1>
                    <p>Restaurant terkenal di Indonesia yang telah memiliki 5+ cabang di kota-kota besar</p>
                    <a href="#restaurant">Jelajahi Restaurant</a>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="gallery">
            <div class="gallery-header" tabindex="0">
                <h2>Berikut Gallery Kami</h2>
                <p>Ini adalah kumpulan foto/gambar pada restaurant kami</p>
            </div>
            <div class="gallery-list" id="galleryList">
                <!-- Render Gallery -->
            </div>
        </div>
        <div class="restaurant" id="restaurant">
            <div class="restaurant-header" tabindex="0">
                <h2>Daftar Restaurant Kami</h2>
                <p>Berikut beberapa cabang restorant kami yang ada di Indonesia</p>
            </div>
            <div class="restaurant-list" id="restaurantList">
                <!-- Render Restaurant -->
            </div>
        </div>
    </main>
    <footer>
        <div class="footer" tabindex="0">
            <p>Copyright © 2021 - Yoga Food</p>
        </div>
    </footer>
</body>

</html>