@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background-color: #f5f5f5;
}

main {
    display: flex;
    flex-direction: row;
    margin: 20px;
}

.divider {
    height: auto;
    width: 2px;
    background-color: #0000001a;
}

.container-card {
    margin: 0 30px;
    width: 100%;
}

.empty {
    margin-bottom: 20px;
}

.button-expand {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 8px;
    cursor: pointer;
}

.button-expand:hover {
    outline: 5px solid rgb(236, 236, 236);
    color: rgba(8, 112, 133, 1);
}

.button-expand h2,
.empty h2 {
    font-weight: 500;
    font-size: 1.2rem;
}

.none {
    display: none !important;
}

.block {
    display: block;
}

@media only screen and (max-width: 700px) {
    main {
        flex-direction: column;
        margin: 10px 0;
    }
    .divider {
        height: 1px;
        width: auto;
        margin-bottom: 20px;
    }
    .container-card {
        margin: 0 30px;
        width: auto;
    }
}